{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="VIEWPORT" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://7xkpi6.com1.z0.glb.clouddn.com/avatar.png"/>
    <link rel="Shortcut Icon" href="http://7xkpi6.com1.z0.glb.clouddn.com/avatar.png"/>
    <link rel="Bootmark" href="http://7xkpi6.com1.z0.glb.clouddn.com/avatar.png"/>
    <meta name="keywords" content="图说知乎,知乎,图片,xlzd,xlzd.me,知乎图片,xlzd杂谈,blog of xlzd"/>
    <meta name="description" content="图说知乎-知乎的相册。知乎钓鱼问题的图片集~~~"/>
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}
{% block navbar %}
{%- endblock navbar %}
{% block content -%}
{%- endblock content %}

{% block scripts %}
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{%- endblock scripts %}
{%- endblock body %}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?83576c1ac1bf3b67c35997feaeed50a1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script type="text/javascript">
    var duoshuoQuery = {short_name: "zhihuphoto"};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
</body>
{%- endblock html %}
</html>
{% endblock doc -%}