{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="page-header" style="margin-top: -10px;">
        <h3>关于</h3>
    </div>

    <div class="content">
        <h3>赞助</h3>

        <div style="padding-left: 15px">
            如果您认为本网站很有意思，支持我继续抓取和持续更新本网站功能，不妨小额赞助我一下，让我支付抓取、存储数据以及部署Web服务所需要的VPS费用。
            目前使用的VPS是<a target="_blank" href="https://affiliates.host1plus.com/affiliates/signup.php?a_aid=xlzd">host1plus</a>的洛杉矶节点，所以可能存在访问速度较慢的情况，请见谅~~~
        </div>
        <hr>

        <h5>赞助方式一：通过微信赞助</h5>
        <a href="#" class="donation thumbnail">
            <img class='' src="{{ url_for('static', filename='imgs/wechat.jpg') }}">
        </a>
        <hr>
        <h5>赞助方式二：通过支付宝赞助</h5>
        <a href="#" class="donation thumbnail">
            <img class='' src="{{ url_for('static', filename='imgs/alipay.jpg') }}">
        </a>
        <hr>
        <h3>关于作者</h3>

        <p>技术宅，专栏作者，软件工程师</p><br>

        <p>与我联系：</p>
        <ul>
            <li>
                <p>博客地址：<a href="http://xlzd.me" target="_blank">http://xlzd.me</a></p>
            </li>
            <li>
                <p>知乎地址：<a href="https://www.zhihu.com/people/xlzd" target="_blank">http://zhihu.xlzd.me</a></p>
            </li>
            <li>
                <p>专栏地址：<a href="http://zhuanlan.zhihu.com/xlz-d" target="_blank">http://zhuanlan.xlzd.me</a></p>
            </li>
        </ul>
    </div>

    <hr>

    <div class="ds-thread" data-thread-key="about" data-title="关于 - 图看知乎" data-url="http://zhihu.photo/about"></div>

</div>
{% endblock %}
