{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="page-header" style="margin-top: -10px;">
        <h3>佚名图集</h3>
    </div>

    <div class="main-items center">
        {% for img in images %}
        {% if loop.index != 1 %}
        <hr>
        {% endif %}
        <div class="nobody-div clearfix">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img class="img-view" src="{{ img[1] }}">
                {# {{ img[2] }} #}
            </div>
            <div class="col-md-3"></div>

        </div>
        {% endfor %}
    </div>
    <div class="center_div">
        {{ pagination.links }}
    </div>

    <hr>

    <div class="ds-thread" data-thread-key="nobody" data-title="佚名图集 - 图看知乎" data-url="http://zhihu.photo/nobody"></div>

</div>
{% endblock %}
